@charset "UTF-8";

.clear {
	clear: both;
}

.contactus-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
}

.contactus-container table {
    width: 100%;
}

.contactus-container table tbody tr td {
    text-align: center;
}



.contactus-dashboard-container {
	
}

.contactus-dashboard-left {
	width: 49%;
	float: left;
	text-align: center;
}

.contactus-dashboard-right {
	width: 50%;
	float: left;
	text-align: center;
}

.contactus-dashboard-left-top {
	font-size: 200%;
}

.contactus-dashboard-right-top {
	font-size: 200%;
}