/*
Theme Name: Maxtelcom Custom Theme
Author: the WordPress team
Description: Custom Theme for Maxtelcom Website.
Version: 1.0
*/

@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: Cal;
    src: url(/wp-content/themes/maxtelcom/fonts/calibri.woff),
         url(/wp-content/themes/maxtelcom/calibri.eot),
         url(/wp-content/themes/maxtelcom/calibri.eot?#iefix),
         url(/wp-content/themes/maxtelcom/fonts/calibri.ttf);
}

@font-face {
    font-family: Tah;
    src: url(/wp-content/themes/maxtelcom/fonts/tahoma.woff),
         url(/wp-content/themes/maxtelcom/tahoma.eot),
         url(/wp-content/themes/maxtelcom/tahoma.eot?#iefix),
         url(/wp-content/themes/maxtelcom/fonts/tahoma.ttf);
}

body {
	overflow: hidden;
}

.clear {
	clear: both;
}

.blackscreen {
	display: none;
	position: fixed;
	border: 1px solid #ccc;
	top: 40px;
	width: 100%;
	z-index: 20;
	background-color: #ccc;
	opacity: 0.6;
}

.notification-box {
	display: none;
	position: fixed;
	z-index: 21;
	width: 60%;
	border: 1px solid #000;
	color: #fff;
}

.notification-header {
	padding: 5px;
	background-color: #000;
	font-family: Tah;
}

.notification-error-message {
	background-color: #ccc;
	padding: 10px;
	color: red;
	text-align: center;
	font-size: 130%;
}

.notification-button-container {
	background-color: #ccc;
	padding: 5px 0px;
	text-align: center;
}

.notification-button-container [type="button"] {
	padding: 1% 2%;
	width: 15%;
}

.mainNav-for-mobile, .mobile-nav-menu, .mobile-header, .mobile-fblike, .mobile-links, #submit {
	display: none;
}

.mainNav, .main-header {
	background-color: #0087e5;
	border-bottom: 1px solid #016bb6;
	padding: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 20;
}

.mainNav ul li a, .main-header ul li a {
	font-family: 'Aldrich', sans-serif;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	display: block;
	width: 120px;
}

.mainNav ul li a:hover {
	color: yellow;
}

.mainNav-left, .main-header-left {
	width: 20%;
	float: left;
}

.main-header-left span, .mainNav-left span {
	font-family: 'Bad Script', cursive;
	font-weight: bold;
	position: absolute;
	font-size: 20px;
	top: 2px;
	left: 20px;
	color: #fff;
	cursor: pointer;
}

.mainNav-right, .main-header-right {
	width: 70%;
	float: right;
	text-align: center;
}

.mainNav-right ul li, .main-header-right ul li {
	display: inline-block;
}

.main-header-right ul li a:hover {
	color: yellow;
}

.textition-container {
	position: absolute;
	width: 100%;
	margin-top: auto;
	text-align: center;
	font-family: 'Aldrich', sans-serif;
	color: #fff;
	font-size: 280%;
	font-weight: bold;
}

.mainAboutUs, .mainServices, .mainJoinUs, .mainContactUs {
	position: relative;
	overflow-y: auto;
}

.mainJoin_container {
	padding: 10px;
	overflow-y: auto;
}

.mainJoin_container h2 {
	padding: 10px 20px;
	color: #fff;
}

.aplication_form {
	width: 95%;
	margin: 0 auto;
}

.aplication_form label {
	padding: 5px 0px;
	display: block;
	width: 100%;
}

.aboutUsContents {
	border: 1px solid #e05704;
	background-color: #f9711f;
	color: #fff;
	opacity: 0.6;
	position: relative;
	width: 80%;
	margin: 0px auto;
	margin-top: 9%;
	padding: 10px;
	font-size: 120%;
	font-family: 'Aldrich', sans-serif;
	border-radius: 10px;
}

.aboutUsContents p:nth-child(2) {
	margin: 10px 0px;
}

.mainAboutUs-list {
	margin-top: 10px;
}

.mainAboutUs-list li {
	list-style: none;
	margin-left: 3%;
	margin-bottom: 1%;
}

.servicesContents {
	border: 1px solid #7e7d7d;
	background-color: #000;
	opacity: 0.8;
	color: #fff;
	width: 80%;
	margin: 0px auto;
	margin-top: 5%;
	padding: 10px;
	font-family: 'Aldrich', sans-serif;
	font-size: 120%;
	border-radius: 10px;
}

.servicesContents p:nth-child(2) {
	margin: 10px 0px;
}

.mainServices-mainList {
	margin-top: 10px;
}

.mainServices-left {
	width: 49%;
	float: left;
}

.mainServices-right {
	width: 49%;
	float: left;
}

.mainServices-list1, .mainServices-list2 {
	list-style: none;
	margin-left: 2%;
}

.mainServices-list1 li, .mainServices-list2 li {
	margin-bottom: 1%;
}

.mainContactUs {
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.mainContactUs-firstContainer {
	margin-top: 5%;
}

.mainContactUs-left {
	width: 49%;
	float: left;
}

.mainContactUs-right {
	width: 49%;
	float: left;
}

.mainContactUs-left-contents h1 {
	margin-bottom: 3%;
}

.mainContactUs-left-contents {
	padding: 0px 60px;
}

.mainContactUs-left-contents [type="text"], .mainContactUs-left-contents [type=email] {
	padding: 8px;
	border: 1px solid #000;
	background-color: #525050;
	margin-bottom: 2%;
	color: #fff;
	width: 100%;
}

.mainContactUs-left-contents textarea {
	width: 100%;
	height: 200px;
	padding: 8px;
	border: 1px solid #000;
	background-color: #525050;
	margin-bottom: 2%;
	color: #fff;
}

.g-recaptcha {
	margin: 10px 0px;
}

.mainContactUs-left-contents [type=button] {
	background-color: #dc4219;
	border: 1px solid #ac2d0b;
	padding: 15px 50px;
	color: #fff;
	border-radius: 15px;
	cursor: pointer;
}

.mainContactUs-left-contents [type=button]:hover {
	color: yellow;
}

.mainContactUs-left-emailUs-container {
	margin-top: 5%;
	text-align: center;
	border-top: 2px solid #fff;
}

.mainContactUs-left-emailUs-container-header {
	position: relative;
	padding: 10px;
	margin: -22px 0px;
	text-align: center;
	width: 100%;
}

.sent-notification {
	border: 1px solid #01b65f;
	background-color: #02d36e;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	display: none;
}

.mainContactUs-left-emailUs-container-header h3 {
	background-color: #2c2c2c;
	width: 9%;
	margin: 0px auto;
}

.mainContactUs-left-emailUs-contents {
	margin-top: 6%;
	font-size: 120%;
}

.mainContactUs-right-contents {
	padding: 0px 100px;
}


.mainContactUs-right ul {
	margin-top: 10%;
}

.mainContactUs-right ul li {
	margin-bottom: 60px;
	list-style: none;
}

.mainFooter {
	border-top: 1px solid #444343;
	margin: 0px auto;
	margin-top: 10%;
	width: 95%;
	padding: 20px;
	padding-bottom: 20px;
	text-align: center;
}







.social-icons {
	background: url(/wp-content/themes/maxtelcom/img/social-icons.png);
	background-repeat: no-repeat;
	margin-right: 2%;
}

.fb-icon {
	padding: 17px 25px;
	background-position: 0px 0px;
}

.twitter-icon {
	padding: 17px 25px;
	background-position: 0px;
	background-position: -57px 0px;
}

.linkedin-icon {
	padding: 17px 25px;
	background-position: 0px;
	background-position: -115px 0px;
}




@media screen and (max-width: 800px) {
	.mainNav-for-pc {
		display: none;
	}

	.mainNav-for-mobile, .mobile-nav-menu {
		display: block;

	}

	.mobile-nav-menu {
		background-image: url(/wp-content/themes/maxtelcom/img/blog-bg.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: fixed;
		width: 100%;
		left: -101%;
		top: 38px;
		overflow-y: auto;
		z-index: 20;
	}

	.mobile-nav-menu ul {
		margin: 0px auto;
		border: 1px solid #ccc;
		background-color: #0087e5;
		opacity: 0.7;
		width: 80%;
		margin-top: 10%;
		border-radius: 10px;
	}

	.mobile-nav-menu ul li {
		list-style: none;
	}

	.mobile-nav-menu ul li a {
		display: block;
		text-align: center;
		font-size: 190%;
		font-family: 'Aldrich', sans-serif;
		color: #fff;
		text-decoration: none;
		padding: 10px;
	}

	.mainHome {
		margin-top: -8px;
	}

	.textition-container {
		font-size: 200%;
	}

	.aboutUsContents, .servicesContents {
		font-size: 90%;
	}

	.aboutUsContents {
		margin-top: 20%;
	}

	.mainAboutUs-list li {
		margin-bottom: 4%;
	}

	.servicesContents {
		margin-top: 10%;
	}

	.mainServices-left, .mainServices-right {
		float: none;
		width: 100%;
	}

	.mainServices-left ul li, .mainServices-right ul li {
		margin-bottom: 4%;
	}

	.contactUsContents {
		margin-bottom: 10%;
	}

	.mainContactUs-left, .mainContactUs-right {
		float: none;
		width: 100%;
	}

	.mainContactUs-left-contents {
		padding: 2%;
	}

	.mainContactUs-left-contents [type=text], .mainContactUs-left-contents [type=email], .mainContactUs-left-contents textarea {
		width: 94%;
	}

	.g-recaptcha {
		position: relative;
		width: 303px;
		margin: 10px auto;
	}

	.mainContactUs-left-contents [type=button] {
		width: 100%;
	}

	.mainContactUs-left-emailUs-container {
		margin-top: 50px;
	}

	.mainContactUs-left-emailUs-container-header {
		width: 94%;
	}

	.mainContactUs-left-emailUs-container-header h3 {
		padding: 0% 10px;

	}
}

@media screen and (max-width: 500px) {
	.contactUsContents {
		margin-bottom: 20%;
	}

	.mainContactUs-right-contents {
		text-align: center;
	}

	.mainContactUs-right-contents h1 {
		font-size: 100%;
		margin-top: 20px;
	}

	.mainContactUs-right-contents ul {
		margin-top: 30px;
	}

	.link-str {
		display: none;
	}
}



.wp-content-container {
	margin: 0px auto;
	margin-top: 45px;
	border: 1px solid #ccc;
	background-color: #fff;
	background-image: url(/wp-content/themes/maxtelcom/img/fresh_snow.png);
	width: 90%;
	border-radius: 10px;
}

.wp-content-container .mainSection {
	width: 74%;
	float: left;
	padding: 7px;
}

.wp-content-container .mainAside {
	width: 24%;
	float: left;
}

.blog-animate-list {
	position: relative;
	margin-top: 96%;
	opacity: 0;
}

.mainArticle {
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #ccc;
	transition: width 0.3s, background-color 0.3s;
}

.mainArticle:hover {
	width: 83%;
	background-color: #c0ebfd;
}

.articleLeft {
	width: 25%;
	float: left;
}

.articleLeft-contents {

}

.articleThumbnail a img {
	width: 100%;
	height: 100%;
}

.articleRight {
	width: 74%;
	float: left;
}

.articleRight-contents {
	padding: 0px 10px;
}

.articleDate {
	font-family: Cal;
	color: #3c3b3b;
}

.articleAuthor, .articleCategory {
	margin: 5px 0px;
	font-family: Cal;
	color: #3c3b3b;
}

.articleDate a, .articleAuthor a, .articleCategory a {
	font-family: Cal;
	color: #3c3b3b;
}

.articleTitle {
	margin: 10px 0px;
}

.articleTitle h1 a {
	font-family: Tah;
	color: #3c3b3b;
}

.articleMinContent {
	font-family: Cal;
	color: #3c3b3b;
}

.readMore {
	border: 1px solid #ccc;
	background-color: #ccc;
	text-align: center;
	margin-top: 10px;
}

.read-more {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #3c3b3b;
}

.read-more:hover {
	color: #03a598;
}

.mainPagination {
	margin: 0px auto;
	margin-bottom: 30px;
	width: 80%;
}

.pagination {
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
}

.pagination span, .pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
	font-family: Cal;
}

.pagination a:hover{
	color:#fff;
	background: #3279BB;
}

.pagination .current{
	padding:6px 9px 5px 9px;
	background: #3279BB;
	color:#fff;
}

.featImage {
	position: fixed;
	z-index: 0;
}

.featImage img {
	width: 100%;
	height: 100%;
}

.singleContainer {
	position: relative;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px;
}

.singleTitle {
	border: 1px solid #ccc;
	background-color: #000;
	text-align: center;
	padding: 40px;
	font-family: Tah;
	color: #fff;
	width: 70%;
	margin: 0px auto;
	position: relative;
	margin-top: -70px;
}

.singleDate {
	margin: 10px 0px;
	text-align: center;
	font-family: Cal;
	color: #3c3b3b;
}

.singleAuthor {
	margin: 10px 0px;
	margin-bottom: 15px;
	text-align: center;
	font-family: Cal;
	color: #3c3b3b;
}

.singleAuthor a {
	color: #3c3b3b;
	text-decoration: none;
}

.singleAuthor a:hover {
	text-decoration: underline;
}

.singleContents {
	margin-bottom: 30px;
	font-family: Cal;
	color: #3c3b3b;
}

.singleContents p {
	margin: 10px 0px;
}

.singleContents a {
	color: #3c3b3b;
}

.fblike {
	margin-top: 20px;
}

.comments-area {
	margin-top: 10px;
}

.comment-list {
	list-style: none;
}

.comment-list li {
	margin: 20px 0px;
}

.comment-respond {
	margin-top: 20px;
}
.comment-form label {
    display: block;
    clear: both;
}

.comment-form p:nth-child(2) label::after, .comment-form p:nth-child(5) label::after {
	content: ":";
}

.comment-form p label .required::before {
	content: ":"
}

.comment-form p textarea {
	padding: 5px;
	width: 50%;
}

.comment-form p [type=text] {
	padding: 5px;
	width: 50%;
}

.comment-submit-btn {
	padding: 5px;
}





.searchBox {
	border: 1px solid #ccc;
	width: 95%;
	margin: 0px auto;
	margin-top: 10px;
	border-radius: 0px 10px 10px 0px;
}

.searchBox [type=text] {
	border: 1px solid #fff;
	padding: 5px;
	outline: none;
}

.searchBox [type=submit] {
	padding: 5px;
	float: right;
	background-color: #0395c5;
	border: 1px solid #0395c5;
	color: #fff;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
}

.searchBox [type=submit]:hover {
	color: yellow;
}

.fb-likebox {
	width: 95%;
	margin: 0px auto;
	margin-top: 20px;
}

.widget-container {
	border: 1px solid #ccc;
	width: 95%;
	margin: 0px auto;
	margin-top: 20px;
}

.widget-container ul {

}

.widget-container ul li {
	list-style: none;
}

.widget-container ul li h2 {
	font-family: Tah;
	padding: 5px;
	background-color: #016bb6;
	color: #fff;
	font-size: 100%;
}

.widget-container ul li ul {
	padding: 10px;
}

.widget-container ul li ul li a {
	font-family: Cal;
	color: #3c3b3b;
	text-decoration: none;
}

.widget-container ul li ul li a:hover {
	text-decoration: underline;
}

.error404Container {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 15%;
}



@media screen and (max-width: 800px) {
	.main-header, .fblike {
		display: none;
	}

	.mobile-header {
		display: block;
		background-color: #0087e5;
		border-bottom: 1px solid #016bb6;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 10px;
		z-index: 20;
	}

	.mobile-header ul li {
		display: inline-block;
	}

	.mobile-header ul li:nth-child(2) {
		width: 80%;
	}

	.mobile-search {
		border: 1px solid #ccc;
		background-color: #fff;
		border-radius: 0px 10px 10px 0px;
	}

	.mobile-search [type=text] {
		border: 1px solid #fff;
		outline: none;
		padding: 2px;
		width: 82%;
	}

	.mobile-search [type=submit] {
		padding: 2px;
		float: right;
		background-color: #0395c5;
		border: 1px solid #0395c5;
		color: #fff;
		border-radius: 0px 10px 10px 0px;
		cursor: pointer;
	}

	.mobile-links {
		display: block;
		position: fixed;
		width: 100%;
		top: 44px;
		left: -101%;
		z-index: 100;
		background-image: url(/wp-content/themes/maxtelcom/img/blog-bg.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.mobile-links ul {
		margin: 0px auto;
		border: 1px solid #ccc;
		background-color: #0087e5;
		opacity: 0.7;
		width: 80%;
		margin-top: 30%;
		border-radius: 10px;
	}

	.mobile-links ul li {
		list-style: none;
	}

	.mobile-links ul li a {
		display: block;
		text-align: center;
		font-size: 190%;
		font-family: 'Aldrich', sans-serif;
		color: #fff;
		text-decoration: none;
		padding: 10px;
	}

	.wp-content-container {
		margin-top: 15%;
	}

	.wp-content-container .mainSection {
		float: none;
		width: 95%;
	}

	.wp-content-container .mainAside {
		display: none;
	}

	.articleLeft, .articleRight {
		float: none;
		width: 100%;
	}

	.articleRight {
		float: none;
		width: 100%;
	}
	.mobile-fblike {
		display: block;
		text-align: center;
	}

	.comment-form p textarea {
		width: 98%;
	}

	.comment-form p [type=text] {
		width: 98%;
	}

	.comment-submit-btn {
		width: 98%;
	}
}


@media screen and (max-width: 360px) {
	.mobile-search [type=text] {
		width: 75%;
	}
}

@media screen and (max-width: 260px) {
	.mobile-search [type=text] {
		width: 69%;
	}
}




.icons {
	background-image: url(/wp-content/themes/maxtelcom/img/icons.png);
}

.icon-menu {
  padding: 7px 15px;
  background-position: -93px 567px;
  background-size: 500px;
}
